<div class="newPost">
<!--    <div *ngIf="isLogedIn" class="plommer">-->
<!--        <app-button (click)="toggleForm()" class="newPostBtn">{{toggleMessage}}</app-button>-->
<!--    </div>-->

<!--    <div *ngIf="showForm && isLogedIn">-->
<!--        <app-create-post (postCreatedEvent)="onPostCreated($event)"></app-create-post>-->
<!--    </div>-->

    <div *ngIf="isLogedIn" class="plommer">
        <app-button (click)="changePostState()" class="newPostBtn">{{toggleMessage}}</app-button>
        <div *ngIf="showForm$ | async">
            <app-create-post (postCreatedEvent)="onPostCreated($event)"></app-create-post>
        </div>
    </div>

</div>

<div class="posts">
    <div *ngFor="let post of posts" class="post">
        <div class="postHeader">
            <a [routerLink]="['/account', post.user?.username]" class="accountLink"><h2>{{post.user?.username}}</h2></a>
            <pre>{{post.body}}</pre>
        </div>
        <div class="image" *ngIf="post.image_id">
            <img src="{{post.image?.image_path}}" style="max-width: 30rem; max-height: 30rem;" />
        </div>
        <div class="postCounters">
            <p>like count: {{post.likes_count}}</p>
            <p>repost count: {{post.reposts_count}}</p>
        </div>
        <div *ngIf="isLogedIn && currentUser" class="postFooter">
            <div>
                <app-button label="LIKE ME" (click)="likePost(post.id, post.id)">
                    :D
                </app-button>
            </div>
            <div>
                <app-button label="REPOST ME" (click)="repostPost(post.id, post.id)">
                    :)
                </app-button>
            </div>
            <div>
<!--                <app-button label="COMMENTS" (click)="showComments !== post.id ? toggleComments(post.id): hideComments()">-->
<!--                    :O-->
<!--                </app-button>-->
                <app-button label="COMMENTS" (click)="commentsToPost !== post.id ? changCommentsState(post.id) : hideComments()">
                    :O
                </app-button>
            </div>
            <div>
                <app-button *ngIf="post.user?.username === currentUser" label="DELETE ME" (click)="deletePost(post.id, post.image?.image_path)">
                    :(
                </app-button>
            </div>
        </div>
        <div *ngIf="(showComments$ | async) === post.id" class="postComments">
            <app-create-comment id="{{post.id}}" (commentCreatedEvent)="onCommentCreated($event)"></app-create-comment>
            <div>
                <div *ngFor="let comment of comments">
                    <div class="commentsContainer">
                        <div class="oneComment">
                            <div style="align-content: center">{{comment.likes_count + "❤️"}}</div>
                            <pre>{{comment.body}}</pre>
                        </div>
                        <div style="text-align: right;"><app-button label="like" (click)="likeComment(comment.id)">❤️</app-button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
