<app-logout *ngIf="isLogedIn"></app-logout>
<div class="fixedLeft" *ngIf="isLogedIn">You are logged inn as: {{currentUser}}</div>
<a routerLink="/timeline" class="timelineLink"><h1 class="title">{{title}}</h1></a>

<div *ngIf="!isLogedIn" class="centerText">
    <div style="padding-bottom: 7px;">You are not loged in</div>
    <div style="padding-bottom: 7px;">Allready have a user? <a routerLink="/login" class="timelineLink">Click here to login</a></div>
    <div>Dont have a user? <a routerLink="/register" class="timelineLink">Click here to register</a></div>
</div>

<router-outlet></router-outlet>