.posts {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.post {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    flex-direction: column;
    width: 47vw;
    max-width: 47vw;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem/* 8px */;
    border-width: 1px;
    border-color: rgb(148 163 184);
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: #cbd5e1;
    --tw-shadow: var(--tw-shadow-colored);
    contain: content;
}

.postComments {
    padding: 20px;
    display: grid;
    border-color: black;
    border-top: outset;
    //grid-template-columns: repeat(2, minmax(0, 1fr));

}

.bio {
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #4eb5f1;
    border-width: 5px;
    border-radius: 2rem;
}

pre {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    white-space: pre-wrap;
}

.postHeader {
    padding-left: 20px;
    padding-right: 20px;
}

.postCounters {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
}

.postFooter {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    justify-content: space-between;
}

.commentsContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #4095c6;
    border-radius: 0.5rem/* 8px */;
    background: #bbdefc;
    width: 95%;
}

.oneComment {
    display: grid;
    grid-template-columns: 10% 90%;
}

.accountLink {
    text-decoration: none;
    color: black;
}

.accountLink:visited {
    text-decoration: none;
}

.accountLink:hover {
    text-decoration: none;
    cursor: pointer;
}

.accountLink:focus {
    text-decoration: none;
}

.accountInfo {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    flex-direction: column;
    width: 47vw;
    max-width: 47vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem/* 8px */;
    border-width: 1px;
    border-color: rgb(148 163 184);
}

.plz {
    display: flex;
    padding: 2px;
    //margin-top: 10px;
    margin-bottom: 10px;
    width: 570px;
    height: 70px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(15 23 42 / var(--tw-border-opacity));
    border-radius: 0.5rem /* 4px */;
    background-color: rgb(255 255 255 / 0.95);
    --tw-backdrop-blur: blur(4px);
    box-sizing: border-box;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.image {
    margin: 15px;
}