.searchContainer {
  //text-align: center;
  //position: relative;
  //left: 26%;
  //margin-bottom: 60px;
}

.results {
  position: relative;
  margin-top: 10px;
  left: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  text-decoration: none;
}